<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<!-- decorate my page with my template (template.html) the first thing will display is the template-->
<head>
    <meta charset="UTF-8">
    <title>Not Authorized</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">

</head>
<body>
<!--go and find the contente fragment in my template and display it here-->
    <div layout:fragment="contente">
        <div class="p-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-danger">Not Authorized</h2>
                </div>
            </div>
        </div>
    </div>

</body>
</html>